{% extends 'mypage/base.html' %}
{% block content %}
{% load staticfiles %}
<h1 class="wow bounce" style="text-align:center; font-size: 25px">Resume</h1>
<div class="container-fluid" style = "padding:10px">
  <div class="row">
    <div class="container" style = "text-align:justify;font-size:18px;font-weight: 400;">
      <h2 id ="obj" >Objective</h2>
      <p>Seeking challenge to hone my skills by working in consonance with the organization’s goals and to
      deliver the best quality with professional integrity and ethics. A good academic background attests
      to my hard work and enthusiasm for the Engineering projects and research. So, I want to work for
      an organization which provides me the opportunity to improve my skills and knowledge to growth
      along with the organization objective.
      </p>
    </div>
  </div>



  <div class="row" style = "text-align:justify; padding-top:15px;">
    <div class="col-md-5 col-xs-12" id = "eduation">
        <div id = 'about' data-wow-delay="0.9s">
          <div class="container">
            <div class="row">
              <h1>Education</h1>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12" >
                <h3>Bechalor of technology</h3>
                <p id = "para">National Institute Of Technology,Uttarakhand.<p>
                <p id = "para">Marks:8.21 <p>
              </div>
              <div class="col-md-12 col-xs-12" >
                <h3>Intermediate/+2</h3>
                <p id = "para">D.A.V Intercollege,Shahapur <p>
                <p id = "para">Marks 82.4% <p>
              </div>
              <div class="col-md-12 col-xs-12" >
                <h3>High School</h3>
                <p id = "para">D.A.V Intercollege,Shahapur<p>
                <p id = "para">Marks 82.4% <p>
              </div>
            </div>
        </div>

      </div>
    </div>

    <div class= "col-md-5 col-xs-12 offset-md-2 " id = "internship">
      <div class="container-md" >
        <div class="row">
          <h1 >Summer Internship and Traning</h1>
        </div>
        <p id = "para"> Internship at Indian Institute of technology, Roorkee</p>
        <p id = "para">Completed six weeks summer training on Embedded systems from CETPAInfotech.</p>
        <p id = "para">Completed six weeks summer training on IOT from CETPA Infotech.</p>
        <p id = "para">Attended two-day workshop at MNIT Jaipur on Machine learning conducted by EIsystemsIndia.</p>
        <p id = "para"> Attended five-day workshop conducted by college on ARDUINO.</p>
      </div>
    </div>
  </div>














  <div class="row" style = "text-align:justify;padding-top:15px;">
    <div class="col-md-5 col-xs-12" id = "myskill">
        <div id = 'about' data-wow-delay="0.9s">
          <div class="container" style = "font-family:'sans-serif';">
            <div class="row">
              <h1 >My Skills</h1>
            </div>
            <span>Managing Skills <small>90%</small></span>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
            </div>
            <span>Python &AMP; Machile Learning <small>85%</small></span>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
            <span>Embedded &AMP; IOT <small>85%</small></span>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
            <span>Embedded &AMP; IOT <small>85%</small></span>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
            <span>Managing Skills <small>90%</small></span>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
            </div>
            <span>Python &AMP; Machile Learning <small>85%</small></span>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
            <span>Embedded &AMP; IOT <small>85%</small></span>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
            <span>Embedded &AMP; IOT <small>85%</small></span>
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
            </div>
        </div>

      </div>
    </div>

    <div class="col-md-5 col-xs-12 offset-md-2" id = "internship">
      <div class="container" >
        <div class="row">
          <h1 >Position of Responsibility</h1>
        </div>
        <p id = "para"> Internship at Indian Institute of technology, Roorkee</p>
        <p id = "para">Completed six weeks summer training on Embedded systems from CETPAInfotech.</p>
        <p id = "para">Completed six weeks summer training on IOT from CETPA Infotech.</p>
        <p id = "para">Attended two-day workshop at MNIT Jaipur on Machine learning conducted by EIsystemsIndia.</p>
        <p id = "para"> Attended five-day workshop conducted by college on ARDUINO.</p>
      </div>
    </div>
  </div>














      <!--<div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>-->


</div>



  {% endblock %}
